body {
	margin: 0;
	font-weight: 550;
	font-size: 1em;
	font-family: 'Times New Roman', Times, serif;
}

#cover { 
	z-index: -2;
	position: fixed;
	top: -50vh;
	width: 100vw;
	height: 150vh;
	background-image: url("images/cmoutarde3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale(0.8) blur(5px);
}

#cover:hover {
	filter: grayscale(0);
}

#flow {
	background-color: whitesmoke ;
	margin: 10%;
	margin-top: 90vh;
	color: noir;
	box-shadow: 8px 8px 4px rgba(0,0,0,0.5),
	-8px 8px 4px rgba(0,0,0,0.5);
}
h1 {
	z-index: -1;
	position: fixed; 
	top: 8vw;
	right: 27vw;
	color: green;	
	font-size: 1.7vw;
	font-family: cursive;
}

h2, h3 {
	text-align: center;
	color:#cc8800;
	font-size: 25px italic;
}	

p {
	padding: 20px 50px;
	margin: 10px;
}

.recette {
	text-align: center;
}
.bouffe {
	overflow: hidden;
	cursor: pointer;
	position: relative;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	width: 10vw;
	height: 10vw;
	font-style: italic;
	line-height: 10vw;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}
.bouffe img {
	width: 100%;
	height: 100%;
	display: none;
	vertical-align: middle;
}
.bouffe:hover img {
	display: inline-block;
}
.bouffe:hover div  {
	display:none;
}

.main {
	color: pink;
	font-weight: bold;
	font-size: 1em;
}

.cond {
	color: green;
}

.sauce {
	color: red;
}

.fromage {
	color: orange;
}

img {
	width: 60px;
	height: 60px;
}